p {
    font-style: italic;
    font-family: 'apple chancery';
}
.jumbotron {
    padding: 60px 20px 60px 20px;
    margin-top: 60px;
}
.footer {
    padding: 20 px 20px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.listahoteles {
    flex: 1 350px;
    margin-top: 20px;
    margin-right: 20PX;
    margin-left: 20px;
    margin-bottom: 20px;
}
.btn1 {
    width: 100%;
    border-radius: 0px;
}
#formulario-contacto {
    margin-bottom: 15px;
}
h2, h3 {
    text-align: center;
}
    

.oi-star {
    color: gold;
    text-align: center;
}

.star {
    text-align: center; 
}
.oi-dollar {
    color: green;
}
#img-cards {
    width: 100%;
    height: 200px;
}
img-fluid {
    text-align: center;
}

.card-otrapill {
    flex: 1 350px;
    margin-top: 20px;
    margin-right: 20PX;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: blue ; 
}    
 .container-fluid {
    align-content: center ;
    margin: auto ;
 }

 #activa-modal1 {
    margin-top: 10px ;
 }

 .card-collapser {
  margin-right: 4px ;
 }
.rowcarousel {
    justify-content: space-around;
}