p {
  font-style: italic;
  font-family: "apple chancery";
}

.jumbotron {
  padding: 60px 20px 60px 20px;
  margin: 0px;
  margin-top: 60px;
  margin-right: 0px;
  margin-button: 0px;
  margin-left: 0px;
}

.footer {
  padding: 20 px 20px 20px 20px;
  margin: 0px;
  margin-top: 20px;
  margin-right: 0px;
  margin-button: 20px;
  margin-left: 20px;
}

.listahoteles {
  flex: 1 350px;
  margin: 0px;
  margin-top: 20px;
  margin-right: 20px;
  margin-button: 20px;
  margin-left: 20px;
}

.btn1 {
  width: 100%;
  border-radius: 0px;
}

#formulario-contacto {
  margin: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-button: 20px;
  margin-left: 0px;
}

h2, h3 {
  text-align: center;
}

.oi-star {
  color: #e6dd35;
  text-align: center;
}

.star {
  text-align: center;
}

.oi-dollar {
  color: #4bf545;
}

#img-cards {
  width: 100%;
  height: 200px;
}

img-fluid {
  text-align: center;
}

.card-otrapill {
  flex: 1 350px;
  margin: 0px;
  margin-top: 20px;
  margin-right: 20px;
  margin-button: 20px;
  margin-left: 20px;
  background-color: #4585f5;
}

.container-fluid {
  align-content: center;
  margin: auto;
}

#activa-modal1 {
  margin: 0px;
  margin-top: 10px;
  margin-right: 0px;
  margin-button: 0px;
  margin-left: 0px;
}

.card-collapser {
  margin: 0px;
  margin-top: 0px;
  margin-right: 10px;
  margin-button: 0px;
  margin-left: 0px;
}

.rowcarousel {
  justify-content: space-around;
}

/*# sourceMappingURL=styles.css.map */
