$blue: #4585f5;
$green: #4bf545;
$gold: #e6dd35;
$red: #b0070a;


@mixin margenes( $margin, $top, $right, $button, $left ){
      margin: $margin;
      margin-top: $top;
      margin-right: $right;
      margin-button: $button;
      margin-left: $left;
}


p {
    font-style: italic;
    font-family: 'apple chancery';
}
.jumbotron {
    padding: 60px 20px 60px 20px;
    @include margenes(0px, 60px, 0px, 0px, 0px,)
}
.footer {
    padding: 20 px 20px 20px 20px;
    @include margenes(0px, 20px, 0px, 20px, 20px,)
}
.listahoteles {
    flex: 1 350px;
    @include margenes(0px, 20px, 20px, 20px, 20px,)
}
.btn1 {
    width: 100%;
    border-radius: 0px;
}
#formulario-contacto {
    @include margenes(0px, 0px, 0px, 20px, 0px,)
}
h2, h3 {
    text-align: center;
}
    

.oi-star {
    color: $gold;
    text-align: center;
}

.star {
    text-align: center; 
}
.oi-dollar {
    color: $green;
}
#img-cards {
    width: 100%;
    height: 200px;
}
img-fluid {
    text-align: center;
}

.card-otrapill {
    flex: 1 350px;
    @include margenes(0px, 20px, 20px, 20px, 20px,);
    background-color:$blue ; 
}    
 .container-fluid {
    align-content: center ;
    margin: auto ;
 }

 #activa-modal1 {
    @include margenes(0px, 10px, 0px, 0px, 0px,) ;
 }

 .card-collapser {
  @include margenes(0px, 0px, 10px, 0px, 0px,) ;
 }
.rowcarousel {
    justify-content: space-around;
}